    <!-- main jumbotron to sell myself -->
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">Welcome to website</h1>
        <p>Click below learn more about me, or view my portfolio.</p>
	<p class="text-center">
	  <a class="btn btn-primary btn-lg" href="/about/resume">About me</a>
	  <a class="btn btn-primary btn-lg" href="/about/portfolio">View portfolio</a>
	</p>
      </div>
    </div>
