    <!-- main jumbotron to sell myself -->
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">Welcome to my online portfolio</h1>
        <p>Click below to view my portfolio, or scroll down to learn more about me.</p>
	<p class="text-center">
	  <a class="btn btn-primary btn-lg" href="/about/portfolio">View portfolio</a>
	</p>
      </div>
    </div>
<!--
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Android development</h2>
          <p>The expense report app is dope and I love making apps.</p>
          <p><a class="btn btn-default" href="#" role="button"></a></p>
        </div>
        <div class="col-md-4">
          <h2>Web development</h2>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Software development</h2>
          <p>Am a recent grad passionate about development. Plz hire.</p>
          <p>
	  <%= link_to 'JS Calculator', { controller: "calculator", action: "calc" }, class: "btn btn-default", role: "button" %>
	  </p>
        </div>
      </div>
    </div> -->
