    <!-- main jumbotron to sell myself -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Welcome to simgeoapps.com</h1>
        <p class="text-center">I will get hired now.</p>
        <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Android development</h2>
          <p>The expense report app is dope and I love making apps.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Web development</h2>
          <p>Is web development difficult? What is the most difficult computer science discipline? Highlight my projects. Links at the top would be like, Home, Resume, Contact or some shit like that. Then the jumbotron will be some message or cover letter type shit. Then below will be my list of project ordered by most impressive to leave impressive. Then at the bottom there will be a link that's all like, View all. Bitch.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Software development</h2>
          <p>Am a recent grad passionate about development. Plz hire.</p>
          <p>
	  <%= link_to 'JS Calculator', { controller: "calculator", action: "calc" }, class: "btn btn-default", role: "button" %>
	      <!--<a class="btn btn-default" role="button"> &raquo;</a> -->
	  </p>
        </div>
      </div>
    </div> <!-- /container -->
