<div class="container">
  <div class="jumbotron">
    <h1>Expense App</h1>
    <h2>Android app for tracking expenses.</h2>
    <br>
    <p>This project is developed using the Android SDK on Android Studio, and implements an app that can be used for tracking personal expenses. Please view the Github repository for the source code, and check back when the app is deployed on Google Play.</p>
    <p class="text-center">
      <%= link_to 'View source', "https://github.com/simeonge/expensereport", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
      <!--<a type="button" class="btn btn-lg btn-info" disabled="true">Get it on Google Play</a>-->
    </p>
  </div>
</div>

