<div class="container">
  <div class="jumbotron">
    <h1>Coin</h1>
    <h2>Android app for tracking expenses.</h2>
    <br>
    <p>This project is developed using the Android SDK on Android Studio, and implements an app that can be used for tracking personal expenses. The source code and documentation is available on Github, and the app is available for download on Google Play<sup>TM</sup>.</p>
    <p class="text-center">
      <%= link_to 'View source', "https://github.com/simeonge/expensereport", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
      <a type="button" href="https://play.google.com/store/apps/details?id=com.simgeoapps.expensereport" target="_blank">
	<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
      </a>
    </p>
    <p class="attributions">Google Play is a trademark of Google Inc.</p>
  </div>
</div>

