<div class="container">
  <div class="jumbotron">
    <h1>CORE Interpreter</h1>
    <h2>Interpreter written in Java for the CORE language.</h2>
    <br>
    <p>This class projects is written in Java and implements an interpreter for the CORE language. Please view the Github repository for the BNF grammar of CORE, documentation of the classes, and the source code.</p>
    <p class="text-center">
      <%= link_to 'View source', "https://github.com/simeonge/coreinterpreter", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
      <a type="button" class="btn btn-lg btn-info" disabled="true">Demo</a>
    </p>
  </div>
</div>
