<div class="container">
  <div class="jumbotron">
    <h1>Sudoku Solver</h1>
    <h2>Sudoku Solver written in Ruby.</h2>
    <br>
    <p>This class projects is written in Ruby and implements a solver for the Sudoku puzzle using the brute-force algorithm. Please view the Github repository for documentation and source code.</p>
    <p class="text-center">
      <%= link_to 'View source', "https://github.com/simeonge", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
      <a type="button" class="btn btn-lg btn-info" disabled="true">Demo</a>
    </p>
  </div>
</div>
