<div class="container">
  <div class="jumbotron">
    <h1>Calculator</h1>
    <h2>Simple calculator implemented in Javascript</h2>
    <p>This project implements a calculator using HTML, CSS, and Javascript. The source code is available on GitHub.</p>
    <p class="text-center">
      <%= link_to 'View source', "https://github.com/simeonge/cse3901lab4/tree/master/calculator", class: "btn btn-lg btn-info", type: "button", data: {no_turbolink: true}, target: "_blank" %>
      <!--<a type="button" class="btn btn-lg btn-info" disabled="true">Customize</a>-->
    </p>
  </div>
</div>

  <div class="container"><div class="row">
    <div id="grp">
      <br>
      <h1>Calculator</h1>
      <div>
	<input readonly="readonly" size="16" id="in" />
        <br>
	<br>
	<table>
	  <tr>
	    <td><button type="button" id="mc" name="mem">MC</button></td>
	    <td><button type="button" id="mr" name="mem">MR</button></td>
	    <td id="ind"><button type="button" id="ms" name="mem">MS</button></td>
	    <td><button type="button" id="m+" name="mem">M+</button></td>
	    <td><button type="button" id="m-" name="mem">M-</button></td>
	  </tr>
	  <tr>
	    <td><button type="button" id="7" name="num">7</button></td>
	    <td><button type="button" id="8" name="num">8</button></td>
	    <td><button type="button" id="9" name="num">9</button></td>
	    <td><button type="button" id="/" name="op">/</button></td>
	    <td><button type="button" id="c" name="clr">C</button></td>
	  </tr>
	  <tr>
	    <td><button type="button" id="4" name="num">4</button></td>
	    <td><button type="button" id="5" name="num">5</button></td>
	    <td><button type="button" id="6" name="num">6</button></td>
	    <td><button type="button" id="*" name="op">*</button></td>
	    <td><button type="button" id="ce" name="clr">CE</button></td>
	  </tr>
	  <tr>
	    <td><button type="button" id="1" name="num">1</button></td>
	    <td><button type="button" id="2" name="num">2</button></td>
	    <td><button type="button" id="3" name="num">3</button></td>
	    <td><button type="button" id="-" name="op">-</button></td>
	    <td rowspan="2"><button type="button" id="ent">=</button></td>
	  </tr>
	  <tr>
	    <td colspan="2"><button type="button" name="num" id="nil">0</button></td>
	    <td><button type="button" id=".">.</button></td>
	    <td><button type="button" id="+" name="op">+</button></td>
	  </tr>
	</table>
      </div> <!-- inner div -->
    </div> <!-- md 6 div -->
  </div></div> <!-- container -->
<%= javascript_include_tag 'calculator' %>
