<div class="container">
  <div class="jumbotron">
    <h1>Portfolio</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron tile">
        <h1>Coin</h1>
        <p>Android app</p>
	<a href="/portfolio/expense"></a>
      </div>
    </div> <!-- col -->
    <div class="col-md-6">
      <div class="jumbotron tile">
        <h1>Sudoku Solver</h1>
        <p>Sudoku Solver written in Ruby</p>
	<a href="/portfolio/sudoku"></a>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron tile">
        <h1>Interpreter</h1>
        <p>Interpreter written in Java</p>
	<a href="/portfolio/interpreter"></a>
      </div>
    </div> <!-- col -->
    <div class="col-md-6">
      <div class="jumbotron tile">
        <h1>Calculator</h1>
        <p>Javascript Calculator</p>
	<a href="/calculator/calc"></a>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
</div>
