<div class="container">
  <div class="jumbotron">
    <h1>Portfolio</h1>
    <p>What up, this is my portfolio and it is boss.</p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Expense App</h1>
    <p>Expence lol, this is my portfolio and it is boss.</p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Sudoku Solver</h1>
    <p>What up, this is my portfolio and it is boss.</p>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>Javascript Calculator</h1>
    <p>What up, this is my portfolio and it is boss.</p>
  </div>
</div>


<div class="container">
  <div class="jumbotron">
    <h1>Core Interpreter</h1>
    <p>What up, this is my portfolio and it is boss.</p>
  </div>
</div>

