<div class="container">
  <div class="jumbotron">
    <h2>Resume</h2>
    <br>
    <p></p>
    <p class="text-center">
      <a href="" type="button" class="btn btn-lg btn-info">Download</a>
    </p>
  </div>
</div>
