<div class="container">
  <div class="jumbotron">
    <h2>About</h2>
    <br>
    <p>I am a developer living in Chicago, IL. My interests are web and mobile development. Download my resume to learn more about me, or visit me on LinkedIn, Stack Overflow Careers, or Github.</p>
    <p class="text-center">
      <a href="" type="button" class="btn btn-lg btn-info">Resume</a>
    </p>
  </div>
</div>
