
div#grp { /* div that encompases everything */
    width: 350px;
    height: 380px;
    background-color: lightgreen;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

table {
    margin: auto;
}

tr, td { /* Remove borders and extra space */
    border-collapse: collapse;
    border: 0;
    padding: 0px;
    margin: 0px;
}

button { /* Set button size so they're all the same... */
    width: 60px;
    font-size: 25px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 2px solid #788033;
}

button#ent { /* ...except the enter... */
    height: 79px;
    background-color: orange;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 2px solid #000000;
}

button#nil { /* ...and 0 buttons */
    width: 100%; /* Fills two rows */
}

input { /* Box that displays numbers and results */
    width: 300px;
    font-size: 25px;
    text-align: right;
    background: white;
    border-radius: 5px;
}

p a.btn { /* Set padding for buttons */
    margin: 1em;
}
