// Place all the styles related to the portfolio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table div input {
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
}

table {
  width: auto !important;
}

td div {
  width: 3em;
  height: 3em;
}

/* top border only */
td.tb {
  border-top: solid !important;
}

/* right border only */
td.rb {
  border-right: solid !important;
}

/* left border only */
td.lb {
  border-left: solid !important;
}

/* bottom border only */
td.bb {
  border-bottom: solid !important;
}