.ftrcns {
  margin: 2em;
}

html, body {
  min-height: 100%;
  
}

body {
  position: relative;
  background-image: url("/assets/Elegant_Background-8.jpg");

  background-attachment: fixed;
}

/* background overlay */
.coverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /* dim background */
}

/* calculator modal */
.cmodal {
  display: none;
  position: fixed;
  top: 50%; 
  left: 50%;
  margin-top: -190px; /* to center vertically */
  margin-left: -175px; /* to center horizontally */
  z-index: 11; /* 1px higher than the overlay layer */
}

/* sudoku modal */
.smodal {
  display: none;
  position: absolute; /* to allow scrolling since grid is too big */
  top: 5%; 
  left: 50%;
  margin-top: 0px;
  margin-left: -300px;
  z-index: 11; /* 1px higher than the overlay layer */
}

/* about section*/
.main {
  background-color: rgba(255, 255, 255, 0.9);
}

/* portfolio tiles */
.tile {
  background-color: white;
  opacity: .8;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
}

.tile:hover {
  opacity: 1;
}

.footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.spc {
  background-color: rgba(0, 0, 0, 0.0);
}

/* footer contact section images*/
a img {
  padding: 10px;
}

/* white text */
.contrast {
  color: white;
}